.svg-common() {
	background: url("svg/sprite.css-676dcb25.svg") no-repeat;
}

.svg-svg--MEWlogo {
	.svg-common();
	background-position: 0 100%;
}

.svg-svg--MEWlogo-dims {
	width: 68px;
	height: 68px;
}

.svg-svg--androidBetaButton {
	.svg-common();
	background-position: 0 54.666666666666664%;
}

.svg-svg--androidBetaButton-dims {
	width: 272px;
	height: 82px;
}

.svg-svg--betaButton {
	.svg-common();
	background-position: 0 0;
}

.svg-svg--betaButton-dims {
	width: 294px;
	height: 82px;
}

.svg-svg--facebook {
	.svg-common();
	background-position: 25.954198473282442% 97%;
}

.svg-svg--facebook-dims {
	width: 32px;
	height: 32px;
}

.svg-svg--github {
	.svg-common();
	background-position: 38.16793893129771% 97%;
}

.svg-svg--github-dims {
	width: 32px;
	height: 32px;
}

.svg-svg--instagram {
	.svg-common();
	background-position: 50.38167938931298% 97%;
}

.svg-svg--instagram-dims {
	width: 32px;
	height: 32px;
}

.svg-svg--linkedin {
	.svg-common();
	background-position: 62.595419847328245% 97%;
}

.svg-svg--linkedin-dims {
	width: 32px;
	height: 32px;
}

.svg-svg--medium {
	.svg-common();
	background-position: 52.67175572519084% 79.6116504854369%;
}

.svg-svg--medium-dims {
	width: 32px;
	height: 26px;
}

.svg-svg--reddit {
	.svg-common();
	background-position: 26.254826254826256% 81.18811881188118%;
}

.svg-svg--reddit-dims {
	width: 35px;
	height: 30px;
}

.svg-svg--twitter {
	.svg-common();
	background-position: 39.76833976833977% 81.18811881188118%;
}

.svg-svg--twitter-dims {
	width: 35px;
	height: 30px;
}

